
.account-section.hidden {
    display: none;
}

.formtile-tile {
    max-width: 420px;
    margin: 1rem auto;
    padding: 1.2rem 1.8rem;
    background: var(--md-default-bg-color);
    border-radius: 10px;
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.12);
}

.formtile-longtext {
    min-height: 250px;
}

.account-tile {
    max-width: 720px;
    margin: 0.5rem auto;
    padding: 0.8rem 0.8rem;
    background: var(--md-default-bg-color);
    border-radius: 10px;
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.12);
}

.account-tile.hidden {
    display: none;
}

.account-section-title {
    display: inline-flex;
    align-items: center;
    justify-content: -between;
    gap: 0.4rem;
    color: #3f51b5;
    font-size: 1rem;
    font-weight: 600;
}

.account-section-title .material-symbols-outlined {
    font-size: 1.2rem;
}

.account-section-title.details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.header-left {
    position: relative;
    display: inline-flex;
    align-items: center;
    gap: 0.4rem;
} 

.header-left .material-symbols-outlined {
    font-size: 1.2rem;
}

.notification {
    /* position: relative;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    gap: 0.4rem; */
    position: absolute;
    top: -6px;
    left: 100%;

    display: flex;
    align-items: center;
    gap: 5px;
}


.badge {
    min-width: 16px;
    height: 16px;
    padding: 0 4px;
    background: #c43d3d;
    color: white;
    font-size: 0.6rem;
    font-weight: 500;
    line-height: 16px;
    text-align: center;
    border-radius: 999px;
    white-space: nowrap
}

.badge.none {
    background: #757575
}

.badge.pending {
    display: inline-flex;
    align-items: center;
    color: #d97706;
    background-color: #ffeedb;
    /* gap: 0.1rem; */
    min-width: 0;
}

.badge.pending .material-symbols-outlined {
    font-size: 0.8rem;
    flex-shrink: 0;
}
.badge.pending.hidden {
    display: none;
}

.accordion-container.hidden {
    display: none;
}

.autocomplete {
    width: 100%;
    max-width: 400px;
    margin-bottom: 0.8rem;
}

.data-search {
    width: 100%;
    margin-top: 0.8rem;
    padding: 0.9rem 0.9rem;
    
    font-size: 0.75rem;
    color: #777;
    border-radius: 10px;
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.12);
}

.data-search.looking {
    border-bottom: none;
    border-radius: 10px 10px 0 0;
}

.suggestions {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    top: 100%;

    background: white;
    border-top: none;
    border-radius: 0 0 10px 10px;
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.12);

    max-height: 200px;
    overflow-y: auto;
    z-index: 10;
}

.suggestions span {
    font-size: 0.65rem;
    color: #808080;
    padding: 0.5rem 0.7rem;
    cursor: pointer;
}

.suggestions span:hover {
    background-color: var(--primary-success--lighter);
}

.suggestions.hidden {
    display: none;
}


.account-details {
    border-top: 1px solid #eee;
    padding-top: 0.8rem;
}

.detail-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.75rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.detail-row .label {
    color: #777;
}

.detail-row .value {
    font-weight: 500;
}

.detail-user {
    padding: 0.2rem 0.5rem;
    border-radius: 999px;
    background: #e8f0fe;
    color: #1a3fb4;
    font-size: 0.7rem;
}

.detail-section {
    font-size: 0.75rem;
    color: #777;
    list-style: none;
    border-radius: 10px;
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.12);
    padding: 0.2rem 0.8rem 0.2rem 0.8rem;
    margin-bottom: 0.8rem;
}

.detail-section.hidden {
    display: none;
}


.detail-section-list {
    margin: 0;
    padding: 0;
    list-style: none;
}


#permission-admin.hidden {
    display: none;
}

.permission {
    font-size: 0.6rem;
    display: flex;
    align-items: center;
    gap: 0.35rem;
    margin-bottom: 0.4rem;
}

.permission.granted {
    color: #39813c;
}

.permission.granted.hidden {
    display: none;
}

.permission.granted .material-symbols-outlined {
    color: #4caf50;
}

.permission.denied {
    color: #999;
}

.permission.denied .material-symbols-outlined {
    color: #b0b0b0;
}

.role-request {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
}

.role-request.hidden {
    display: none;
}

.role-request-text {
    margin: 0;
    color: #666;
}

#admin-section.hidden {
    display: none;
}

#super-admin-section.hidden {
    display: none;
}

.user-quote {
    position: relative;
    margin: 0;
    padding: 1rem 1.25rem;

    border-left: 4px solid var(--primary-fg);
    border-radius: 8px;
    background: #f9fafb;

    font-style: italic;
    color: #374151;
    font-size: 0.7rem;
    line-height: 1.5;
    max-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
    word-break: break-word;
    scrollbar-width: thin;
    white-space: pre-line;
}

.user-quote::-webkit-scrollbar {
    width: 6px;
}

.user-quote::-webkit-scrollbar-thumb {
    background: rgba(0,0,0,0.2);
    border-radius: 4px;
}

.event-small-tile {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;

    padding: 0.1rem 0.5rem;
    margin-top: 0.6rem;
    border-radius: 8px;
    border-left: 4px solid var(--pico-primary);
    background: var(--pico-card-background-color, #fff);
    box-shadow: 0 1px 3px rgba(0,0,0,0.08);
    cursor: pointer;
}

.event-small-tile:hover
.event-small-tile:focus {
    transform: translateY(-2px);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
}

/* .event-small-tile:focus {
    outline-offset: 2px;
    background: var(--pico-card-background-color, #fff);
} */


.highlight-temporary {
  outline: 2px solid #4f46e5;
  outline-offset: 2px;
  border-radius: 6px;
}


.event-small-tile.pending::after {
    content: "hourglass_top";
    font-family: "Material Symbols Outlined";

    position: absolute;
    top: -8px;
    right: -9px;
        
    width: 24px;
    height: 24px;
    
    display: flex;
    align-items: center;
    justify-content: center;


    font-size: 16px;
    color: #d97706;
    background-color: #ffeedb;
    border-radius: 50%;
}

.event-small-tile.cat-0 {
    border-color: var(--category0);
}

.event-small-tile.cat-1 {
    border-color: var(--category1);
}

.event-small-tile.cat-2 {
    border-color: var(--category2);
}

.event-small-tile.cat-3 {
    border-color: var(--category3);
}

.event-small-tile.cat-4 {
    border-color: var(--category4);
}

.event-small-main {
    display: flex;
    flex-direction: column;
    min-width: 0;
}

.event-small-title {
    font-weight: 600;
}

.event-small-meta {
    font-size: 0.60rem;
    color: #666;

    white-space: normal;
    overflow-wrap: break-word;

    overflow: hidden;
    text-overflow: ellipsis;
}

.event-small-category.cat-0 {
    color: var(--category0);
}

.event-small-category.cat-1 {
    color: var(--category1);
}

.event-small-category.cat-2 {
    color: var(--category2);
}

.event-small-category.cat-3 {
    color: var(--category3);
}

.event-small-category.cat-4 {
    color: var(--category4);
}

.event-small-actions {
    display: flex;
    gap: 0.1rem;
}

.event-small-icon-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
   
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: none;
    background: transparent;
    cursor: pointer;

    transition: background-color 0.2s ease, transform 0.1s ease;
}

.event-small-icon-btn .material-symbols-outlined {
    font-size: 20px;
}

.event-small-icon-btn:active {
    transform: scale(0.95);
}

/* Variants */
.event-small-icon-btn.info {
    color: var(--primary-info);
}

.event-small-icon-btn.delete {
    color: var(--primary-error);
}

.event-small-icon-btn.accept {
    color: var(--primary-success);
}

.material-symbols-outlined.fat {
    font-weight: 900;
}

.event-small-icon-btn:hover .material-symbols-outlined:hover {
    font-size: 28px;
}

.non-wrap {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (max-width: 600px) {
    .user-quote {
        max-height: 150px;
    }
}

@media (max-width: 350px) {
    .detail-row {
        flex-direction: column;
        align-items: center;
    }
}

